<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/signature}">

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <script src="https://unpkg.com/mathjs/lib/browser/math.js"></script>
    <link rel="stylesheet" th:href="@{/style/main.css}">
    <title>Profile</title>
</head>

<script type="text/javascript">
 function display(val) {
    document.getElementById("result").value+=val
 }

 function calculate() {
    let x = document.getElementById("result").value;
    let y = math.evaluate(x.toString());
    document.getElementById("result").value = y;
 }

 function clean() {
    document.getElementById("result").value=''
 }

</script>

<body>
<div class="title">
    <div class="col-md-auto">
        <h1>Profile</h1>
        <a href="/perform_logout"> Logout </a>
    </div>
</div>

<div class="form">

    <ul>
        <li>
            <label for="userName">Name:</label>
            <input id="userName" type="text" class="text" readonly th:text="${user.name}"/>
        </li>
        <li>
            <label for="userEmail">Email:</label>
            <input id="userEmail" type="text" class="text" readonly th:text="${user.email}"/>
        </li>
        <li>
            <label for="userBirthday">Birthday:</label>
            <input id="userBirthday" type="text" class="text" readonly th:text="${user.birthday}"/>
        </li>
        <li>
            <label for="userCity">City:</label>
            <input id="userCity" type="text" class="text" readonly th:text="${user.city}"/>
        </li>
        <li>
            <label for="userPhone">Phone number:</label>
            <input id="userPhone" type="text" class="text" readonly th:text="${user.phoneNumber}"/>
        </li>
        <li>
            <label for="userGender">Gender:</label>
            <input id="userGender" type="text" class="text" readonly th:text="${user.gender}"/>
        </li>
    </ul>

</div>

<table class="calculator">
    <tr>
        <td colspan="3"><input type="text" class="calculateInput" id="result"/></td>
        <td><button class="buttonSymbol" onclick="clean()">c</button></td>
        <td><button class="buttonSymbol" onclick="display('pow(')">pow(x,y)</button></td>
        <td><button class="buttonSymbol" onclick="display(',')">,</button></td>
    </tr>
    <tr>
        <td><button class="buttonNumber" onclick="display('1')">1</button></td>
        <td><button class="buttonNumber" onclick="display('2')">2</button></td>
        <td><button class="buttonNumber" onclick="display('3')">3</button></td>
        <td><button class="buttonSymbol" onclick="display('/')">/</button></td>
        <td colspan="2"><button class="buttonSymbol" onclick="display('sqrt(')">sqrt()</button></td>
    </tr>
    <tr>
        <td><button class="buttonNumber" onclick="display('4')">4</button></td>
        <td><button class="buttonNumber" onclick="display('5')">5</button></td>
        <td><button class="buttonNumber" onclick="display('6')">6</button></td>
        <td><button class="buttonSymbol" onclick="display('-')">-</button></td>
        <td><button class="buttonSymbol" onclick="display('sin(')">sin()</button></td>
        <td><button class="buttonSymbol" onclick="display('cos(')">cos()</button></td>
    </tr>
    <tr>
        <td><button class="buttonNumber" onclick="display('7')">7</button></td>
        <td><button class="buttonNumber" onclick="display('8')">8</button></td>
        <td><button class="buttonNumber" onclick="display('9')">9</button></td>
        <td><button class="buttonSymbol" onclick="display('+')">+</button></td>
        <td colspan="2"><button class="buttonSymbol" onclick="display('pi')">pi</button></td>
    </tr>
    <tr>
        <td><button class="buttonNumber" onclick="display('.')">.</button></td>
        <td><button class="buttonNumber" onclick="display('0')">0</button></td>
        <td><button class="buttonSymbol" onclick="calculate()">=</button></td>
        <td><button class="buttonSymbol" onclick="display('*')">*</button></td>
        <td><button class="buttonSymbol" onclick="display('(')">(</button></td>
        <td><button class="buttonSymbol" onclick="display(')')">)</button></td>
    </tr>
</table>

<header th:insert="fragments/signature.html :: signature"></header>

</body>
</html>
