<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/signature}">

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" th:href="@{/style/main.css}">
    <title>Profile</title>
</head>

<script>
 function display(val) {
    document.getElementById("result").value+=val
 }

 function calculate() {
    let x = document.getElementById("result").value
    let y = eval(x)
    document.getElementById("result").value = y
 }

 function clean() {
    document.getElementById("result").value=''
 }

</script>

<body>
<div class="title">
    <div class="col-md-auto">
        <h1>Profile</h1>
        <a href="/perform_logout"> Logout </a>
    </div>
</div>

<div class="form">
    <ul>
        <li>
            <label for="userName">Name:</label>
            <input id="userName" type="text" class="text" readonly th:text="${user.name}"/>
        </li>
        <li>
            <label for="userEmail">Email:</label>
            <input id="userEmail" type="text" class="text" readonly th:text="${user.email}"/>
        </li>
        <li>
            <label for="userBirthday">Birthday:</label>
            <input id="userBirthday" type="text" class="text" readonly th:text="${user.birthday}"/>
        </li>
        <li>
            <label for="userCity">City:</label>
            <input id="userCity" type="text" class="text" readonly th:text="${user.city}"/>
        </li>
        <li>
            <label for="userPhone">Phone number:</label>
            <input id="userPhone" type="text" class="text" readonly th:text="${user.phoneNumber}"/>
        </li>
        <li>
            <label for="userGender">Gender:</label>
            <input id="userGender" type="text" class="text" readonly th:text="${user.gender}"/>
        </li>
    </ul>

    <table>
        <tr>
            <td colspan="3"><input type="text" class="calculateInput" id="result"/></td>
            <td><input type="button" class="buttonSymbol" value="c" onclick="clean()"/></td>
        </tr>
        <tr>
            <td><input type="button" class="buttonNumber" value="1" onclick="display('1')"/></td>
            <td><input type="button" class="buttonNumber" value="2" onclick="display('2')"/></td>
            <td><input type="button" class="buttonNumber" value="3" onclick="display('3')"/></td>
            <td><input type="button" class="buttonSymbol" value="/" onclick="display('/')"/></td>
        </tr>
        <tr>
            <td><input type="button" class="buttonNumber" value="4" onclick="display('4')"/></td>
            <td><input type="button" class="buttonNumber" value="5" onclick="display('5')"/></td>
            <td><input type="button" class="buttonNumber" value="6" onclick="display('6')"/></td>
            <td><input type="button" class="buttonSymbol" value="-" onclick="display('-')"/></td>
        </tr>
        <tr>
            <td><input type="button" class="buttonNumber" value="7" onclick="display('7')"/></td>
            <td><input type="button" class="buttonNumber" value="8" onclick="display('8')"/></td>
            <td><input type="button" class="buttonNumber" value="9" onclick="display('9')"/></td>
            <td><input type="button" class="buttonSymbol" value="+" onclick="display('+')"/></td>
        </tr>
        <tr>
            <td><input type="button" class="buttonNumber" value="." onclick="display('.')"/></td>
            <td><input type="button" class="buttonNumber" value="0" onclick="display('0')"/></td>
            <td><input type="button" class="buttonSymbol" value="=" onclick="calculate()"/></td>
            <td><input type="button" class="buttonSymbol" value="*" onclick="display('*')"/></td>
        </tr>
    </table>

    <header th:insert="fragments/signature.html :: signature"> </header>

</div>
</body>
</html>
