<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="style/main.css">
    <title>Registration</title>
</head>

<script>
		var isFormValid = true;

		function validateName(){
			validateElement("userName");
		}

		function validateEmail(){
			validateElement("userEmail");
		}

		function validateBirthday(){
			validateElement("userBirthday");
		}

		function validateCity(){
			validateElement("userCity");
		}

		function validatePhone(){
			validateElement("userPhone");
		}

		function validatePassword(){
			validateElement("userPassword");
		}

		function validateConfirmPassword(){
			validateElement("userConfirmPassword");
		}

		function validateForm(){
			validateName();
			validateEmail();
			validateBirthday();
			validateCity();
			validatePhone();
			validatePassword();
			validateConfirmPassword();
			return isFormValid;
		}

		function validateElement(elementName){
			var element = document.forms["myForm"][elementName].value.toString();
			if (element.trim() === "") {
				document.getElementById(elementName).className="error";
				isFormValid = false;
			} else {
				document.getElementById(elementName).className="input";
			}
		}



</script>

<div class="container">

    <div class="title">
        <div class="col-md-auto">
            <h1>Welcome! Enter your data please!</h1>
        </div>
    </div>

    <form name="myForm" class="form" action="registration" method="post" onsubmit="return validateForm()">
        <div th:if="${error}">
            <div class="errorMessage" th:text=" ${error}"></div>
        </div>
        <ul>
            <li>
                <label for="userName">Name:</label>
                <input type="text" id="userName" name="name" class="input" placeholder="Harry Potter"
                       onchange="validateName()"/>
            </li>
            <li>
                <label for="userEmail">Email:</label>
                <input type="email" id="userEmail" name="email" class="input" placeholder="harry.potter@gmail.com"
                       onchange="validateEmail()"/>
            </li>
            <li>
                <label for="userBirthday">Birthday:</label>
                <input type="date" id="userBirthday" name="birthday" class="input" onchange="validateBirthday()"/>
            </li>
            <li>
                <label for="cities">City:</label>
                <input list="cities" id="userCity" name="city" class="input" placeholder="Kyiv"
                       onchange="validateCity()"/>
                <datalist id="cities">
                    <option value="Kyiv"/>
                    <option value="Dnipro"/>
                    <option value="Lviv"/>
                </datalist>
            </li>
            <li>
                <label for="userPhone">Phone number:</label>
                <input type="tel" id="userPhone" name="phoneNumber" class="input" placeholder="380661234567"
                       pattern="[0-9]{12}" onchange="validatePhone()"/>
            </li>
            <li>
                <label for="userPassword">Password:</label>
                <input type="password" id="userPassword" name="password" class="input" placeholder="HarryPotter123"
                       onchange="validatePassword()"/>
            </li>
            <li>
                <label for="userConfirmPassword">Confirm your password:</label>
                <input type="password" id="userConfirmPassword" name="confirmPassword" class="input"
                       placeholder="HarryPotter123" onchange="validateConfirmPassword()"/>
            </li>
            <li>
                <label>Select your gender:</label> <br>
                <div class="left">
                    <input type="radio" id="male" name="userGender" value="MALE"> <input type="text" class="text"
                                                                                         readonly value="Male"/> <br>
                    <input type="radio" id="female" name="userGender" value="female"> <input type="text" class="text"
                                                                                             readonly value="Female"/>
                    <br>
                    <input type="radio" id="other" name="userGender" value="other" checked> <input type="text"
                                                                                                   class="text" readonly
                                                                                                   value="Other"/>
                </div>
            </li>
            <hr>
            <li>
                <input type="checkbox" id="privacy" required> <input type="text" class="text" readonly
                                                                     value="Accept privacy policy"/>
            </li>
            <li>
                <div class="center">
                    <input type="submit" class="submit" value="Sign out">
                    <input type="reset" class="cancel" value="Cancel">
                </div>
            </li>
            <li>
                <a href="login"> Log in </a>
            </li>
        </ul>
    </form>

</div>
</body>
</html>